$tabWidth: 30px;
$spaceBetweenLineComponents: 6px;
$lineVerticalPadding: 5px;

.line {
    padding: $lineVerticalPadding 0;
    font-size: 13px;
    line-height: normal;
    font-family: monospace;
    white-space: nowrap;

    & > * {
        margin: 0 $spaceBetweenLineComponents;
    }

    &:nth-child(odd) {
        background: #fafafa;
    }

    @for $i from 1 through 30 {
        &.level-#{$i} {
            padding-left: $tabWidth * $i;
        }
    }

    .prop {
        color: purple;
    }

    .type {
        display: none;
    }

    .type,
    .value {
        &.number,
        &.boolean {
            color: blue;
        }

        &.string {
            color: firebrick;
        }

        &.null {
            color: gray;
        }
    }
}

.f-types {
    .type {
        display: inline;
    }
    .value {
        display: none;
    }
}