$tabWidth: 30px;
$spaceBetweenLineComponents: 6px;
$lineVerticalPadding: 5px;

.level {
    padding-left: $tabWidth;
}

.line {
    position: relative;
    padding: $lineVerticalPadding 0;
    font-size: 13px;
    line-height: normal;
    font-family: monospace;
    white-space: nowrap;

    & > * {
        margin: 0 $spaceBetweenLineComponents;
    }

    & > *:first-child {
        margin-left: 0;
    }

    &:nth-child(odd) {
        background: #fafafa;
    }

    &.folding {
        &:hover {
            & ~ .line {
                opacity: 0.4;
            }
            & ~ .folding ~ .line {
                opacity: 1;
            }
        }
    }

    .prop {
        color: purple;
    }

    .type {
        display: none;
    }

    .type,
    .value {
        &.number,
        &.boolean {
            color: blue;
        }

        &.string {
            color: firebrick;
        }

        &.null {
            color: gray;
        }
    }
}

.f-types {
    .type {
        display: inline;
    }
    .value {
        display: none;
    }
}