$tabWidth: 30px;
$spaceBetweenLineComponents: 6px;
$lineVerticalPadding: 5px;

.level {
    padding-left: $tabWidth;
    margin-left: 2px;
    border-left: 1px solid transparent;
}

.line {
    position: relative;
    padding: $lineVerticalPadding 0;
    font-size: 13px;
    line-height: normal;
    font-family: monospace;
    white-space: nowrap;
    color: var(--color-json-default);

    & > * {
        margin: 0 $spaceBetweenLineComponents;
    }

    & > *:first-child {
        margin-left: 0;
    }

    &.odd {
        background: var(--color-json-odd-line-bg);
    }

    .prop {
        color: var(--color-json-prop);
    }

    .type {
        display: none;
    }

    .type,
    .value {
        &.number,
        &.boolean {
            color: var(--color-json-number);
        }

        &.string {
            color: var(--color-json-string);
        }

        &.null {
            color: var(--color-json-null);
        }
    }

    .value-hint {
        display: none;
    }

    &.folding {
        cursor: pointer;

        &:hover {
            & + .level {
                border-color: #e0e0e0;
            }
        }
    }

    &.folded {
        .postfix {
            display: none;
        }
        .value-hint {
            display: inline;
        }

        & + .level {
            display: none;
        }
    }
}

.f-types {
    .type {
        display: inline;
    }
    .value {
        display: none;
    }
}