.body-wrap {
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px;
  background: var(--color-body-bg);
  color: var(--color-body-default-text);
}

header {
  display: flex;
  box-sizing: border-box;
  height: 40px;
  padding: 5px 0;

  .night-mode-button {
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    margin-left: auto;
    border-radius: 2px;
    background: var(--color-layout-block-bg);
    text-align: center;
    cursor: pointer;

    i {
      line-height: 30px;
      font-size: 16px;
      color: var(--color-ui-inactive-darker);
    }

    &.active {
      color: var(--color-ui-active);
    }
  }
}

footer {
  height: 20px;
}

.layout {
  display: flex;
  height: calc(100vh - 60px);
}

.column {
  box-sizing: border-box;
  width: 100%;
  //max-width: 1000px;
  height: 100%;
  background: var(--color-layout-block-bg);
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0,0.08);

  transition: width 0.2s;

  &:not(:first-child) {
    margin-left: 15px;
  }

  &.small {
    width: 35%;
    min-width: 300px;
  }
}