.body-wrap {
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px;
  background: var(--color-body-bg);
  color: var(--color-body-default-text);
}

header {
  height: 40px;
}

footer {
  height: 20px;
}

.layout {
  display: flex;
  height: calc(100vh - 60px);
}

.column {
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  background: var(--color-layout-block-bg);
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0,0.08);

  transition: width 0.2s;

  &:not(:last-child) {
    margin-right: 15px;
  }

  &.small {
    width: 35%;
    min-width: 300px;
  }
}