$switch-height: 16px;

.switch {
    position: relative;
    width: $switch-height * 2;
    height: $switch-height;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    background: #ddd;
    border: 1px solid #ddd;
    transition: background 0.2s, border-color 0.2s;

    .track {
        position: absolute;
        box-sizing: border-box;
        top: 1px;
        left: 1px;
        width: $switch-height - 2px;
        height: $switch-height - 2px;
        background: white;
        border-radius: 2px;
        transition: left 0.1s;
    }

    &.active {
        background: cornflowerblue;
        border-color: cornflowerblue;

        .track {
            left: calc(100% - #{$switch-height});
        }
    }
}